[submodule "OpenSiv3D"]
	path = OpenSiv3D
	url = git@github-pillow:pillowtrucker/OpenSiv3D.git
[submodule "tileson"]
	path = tileson
	url = git@github-pillow:pillowtrucker/tileson.git
[submodule "entt"]
	path = entt
	url = git@github-pillow:pillowtrucker/entt.git
